<template name="client">
	<div class="tabs">
	<div tab="info">Инфо</div>
		<div tab="contacts"> Контакты</div>
		<div tab="tasks">Задачи</div>
		{{#each stages}}
		<div tab="stage{{stage}}">{{name}}</div>
		{{/each }}
	</div>
	<div class="tabsContent">
		<div tab="info" class="selected">
			{{> clientGeneralInfo}}
		</div>
		<div tab="contacts">
			{{> clientContacts}}
		</div>
		{{#each stages}}
		<div tab="stage{{stage}}">
			{{#each this.tasks}}
			<input type="checkbox">{{this}}</input><br>
			{{/each}}
		</div>
		{{/each}}
	</div>
</template>
<template name="clientGeneralInfo">
	<div id="fields">
		{{#with client}}
		{{#each fields}}
		<span>{{caption}}</span><span sys="{{sys}}" contenteditable>{{{clientProperty ../this this.sys}}}</span><br>
		{{/each}}
		{{/with}}
	</div>
</template>
<template name="clientContacts">
	<table id="contacts">
		<thead>
			{{#each fields}}
			<th>{{this.caption}}</th>
			{{/each}}
		</thead>
		{{#each contact}}
		<tr id='{{this._id}}'>
			{{#each fields}}
			<td contenteditable >{{{getKey .. this.sys}}}</td>
			{{/each}}
		</tr>
		{{/each}}
	</table>
</template>
