<template name="fileUpload">
	<div class="fileupload fileupload-new" data-provides="fileupload">
		<span class="btn btn-file">
			<span class="fileupload-new">{_del_{file-upload.label.de}_del_x}</span>
			<span class="fileupload-exists">Andere</span>
			<input name="{_{file-upload.name}_}" class="file-upload-input" method="{_{file-upload.method}_}" type="file"/>
		</span>
		<span class="fileupload-preview">
		</span>
		<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
	</div>
</template>