
<head>
	<title>Ведение продаж v0.1</title>
</head>
<template name="layout">
	<table id="layout" class="skelet">
		<tr>
			<td id="left">
				{{> leftSide}}
			</td>
			<td id="right">
				{{> mainContainer}}
			</td>
		</tr>
	</table>  			
</template>

<template name="leftSide">
	<div id="leftSide">
		{{loginButtons}}
		{{> calendar}}
		{{> menu}}  
	</div>
</template>

<template name="searchBox">
<div id="inputs">
	<textarea rows=1 id="search"></textarea>
	<textarea rows=1 id="todo"></textarea>

</template>

<template name="mainContainer">
	<table class="skelet">
		<tr class="header">
			<td >
				{{> history}}
				{{> header}}
				{{> searchBox}}
			</tr>
		<tr>
			<td colspan="2">
				<div id="main" class="skelet">
					{{yield 'objectDetailes'}}
					{{> tags}}
					{{yield}}
					{{yield 'summary'}}
				</div>		
			</td>
		</tr>
	</table>
</template>

<template name="header">
	<h2>{{where}}{{extra}}</h2>
</template>


