
<template name="layout">
	{{> loginButtons}}
	<table id="layout">
		<tr>
			<td>
				{{> header}}
				{{> history}}
			</td>
			<td rowspan="3">
				{{> calendar}}
			</td>
		</tr>
		<tr>	
			<td>
				{{> tools}}
			</td>
		</tr>
		<tr>
			<td colspan="2">

				{{> yield 'sayBefore'}}
				{{> say}}
				{{> yield 'sayAfter'}}
			</td>
		</tr>
		<tr>
			<td>
				{{> yield 'tags'}}
			</td>
		</tr>
		<tr>
			<td colspan="2">
				{{> yield 'dataBefore'}}
				{{> yield}}
				{{> yield 'dataAfter'}}
			</td>
		</tr>
	</table>
	<img id="target" style="display: none" src="../target.gif"/>
</template>

<template name="header">
	<h2>{{where}}{{extra}}</h2>
</template>

<template name="say">
	<textarea id="say"></textarea>
	<textarea id="todo"></textarea>
</template>
