@font-face {
	font-family: 'smt';
	src: url(fonts/segoeui.ttf);
}
body, html {
	padding: 0;
	border: 0;
	margin: 0;
	height: 100%;
	font-family: 'smt';
}

#layout {
	width: 100%;
	height: 100%;
}

#layout #left {
	width: 200px;
}
#layout #right{
	vertical-align: top;
}
#tools img {
	width: 48px;
	height: 48px;
}
#say, #todo{
	width: 100%;
	margin: 0px;
}
#todo {
	display: none;
}
#console{
	text-align: center;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 200px;
	background-color: #CCC;
}
.current{
	background-color: #999;
}
.previous,.next{
	background-color: #CCC;
}

#phrases{
	width: 100%;
	height: 400px;
}
#phrases div a {
	text-decoration: none;
}
#phrases div span {
	white-space: pre-wrap;
}
#phrases div {
	border-bottom: 1px solid #AAA;
	white-space: nowrap;
	cursor: default;
}
#phrases div:hover {
	background-color: #EEE;
}
#clients{
	display: none;

	background-color: #333;
	color: white;
	position: absolute;
	width: 200px;
	height: 20px;
	border: 1px solid black;
	top: 0px;
}
#myContacts, #contacts {
	width: 100%;
	background-color: white;

}
#contacts td, #myContacts td{
	border: 1px solid gray;
	background-color: #BBB;
	text-align: center;
}
#contacts thead th, #myContacts thead th{
	text-align: center;
	background-color: #999;
}
.inline-tag {
	cursor: pointer;
	font-weight: 700;
}
#tags span, #addTag, .tag{
	display: inline;
	background-color: #4E9;
	padding:0px 4px 0px 4px;
	color: white;
	font-weight: 500;
	font-size: 12px;
	cursor: pointer;
	user-select: none;
	outline: 0px transparent;
	margin-left: 2px;


}
.tagged{
	background-color: black !important;
	color: white;
}
#addTag:after {
	content: "+";
}
.search{
	background-color: yellow;
}
#calendar {
	width: 200px;
	margin: 0px;
	padding: 3px;
	overflow: hidden;
}
#calendar .cell{
	background-color: #777;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 2px;
	color:	#FFF;
	text-align: center;
	font-size: 10px;
	vertical-align: middle;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}

.plan, .fact, .day{
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;

}
.plan {
	background-color: #8ecb60;
}
.fact {
	background-color: rgb(16, 160, 227);
}
.day {
	color: #EEE;
	font-size: 10px;
}
.clients div {
	cursor: pointer;
}
#loading {
	position: absolute;
	top: 0px;
	left:0px;
}
#fields span {
	width: 200px;
	display: inline-block;
}
#fields span:nth-child(3n+1){
	background-color: white;
	padding: 2px;

}
#fields span:nth-child(3n+2){
	background-color: #EEE;
	padding: 2px;
	text-align: center;
}

/* CSS declarations go here */

#leftSide {
	float: left;
	width: 200px;
	background-color: #4d5a75;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.menuItem{	
	border-bottom: 1px solid #5e6b86;	
	padding: 15px;
	padding-left: 20px;
	color: white;
}
.menuItem:hover{
	background-color: rgb(68, 79, 103);
	border-left: 4px solid rgb(160, 182, 229);
	cursor: pointer;
}
#inputs {
	position: fixed;
	top: 10px;
	right: 10px;
}
#search, #todo {
	width: 300px;
	padding: 10px;
	opacity: 0.5;
	resize: none;
}
#todo {
	top: 60px;
}
.skelet {
	border-collapse: collapse;
	border:0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}
#main {
	overflow: auto;
}
#searchTD{
	height: 100px;
}
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.header, .history {
	height: 30px;
}
.tabs div {
	display: inline-block;
	margin: 0;
	padding: 0;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: -4px;
	color: white;
}
.tabs {
	background-color: #4d5a75;
}
.tabs .selected {
	background-color: #BBB;
	color: rgb(68, 79, 103);
}
.tabs div:hover {
	background-color: #DDD;
	cursor: pointer;
}

.tabsContent div[tab]{
	display: none;
}
#history a {
	font-size: 11px;
}