<template name="tools">
	<div id="tools">
		<a href="{{pathFor 'home'}}"><img selectStart=1 selectEnd=1 alt="Поиск" text="" src="../home.png"/></a>
		<img id="search" selectStart=1 selectEnd=1 alt="Поиск" text="" src="../search.png"/>
		<a href="{{pathFor 'clients'}}"><img id="clientsIcon" src="../clients.png"/></a>
		<a href="{{pathFor 'contacts'}}"><img id="contactsIcon" src="../contacts.png"/></a>		
		<img selectStart=1 selectEnd=9 alt="Делегировать" text="#Поручить# задачу" src="../delegate.png"/>
		<img selectStart=1 selectEnd=8 alt="Заметка" text="#Заметка# по клиенту #....# " src="../notes.png"/>
		<img selectStart=12 selectEnd=17 alt="Напомнить" text="#Напомнить# когда о " src="../remind.png"/>
		<img selectStart=30 selectEnd=34 alt="Звонок" text="Осуществлен #звонок# клиенту #.....# на тему:. Результат:" src="../call.png"/>
		<img selectStart=27 selectEnd=31 alt="Встреча" text="Была #встреча# с клиентом #....#. Тема встречи:....... Задачи" src="../meeting.png"/>
		<img selectStart=1 selectEnd=5 alt="Презентация" text="Выполнена #презентация# клиенту #....#. В ходе презентации выявлены следующие потребности....... Дальнейшие действия......." src="../presentation.png"/>

		<img selectStart=1 selectEnd=1 alt="В корзину" text="" src="../attachment.png"/>
		<img id="bin" selectStart=1 selectEnd=1 alt="В корзину" text="" src="../bin.png"/>
		<img id="books" selectStart=1 selectEnd=1 alt="В корзину" text="" src="../thisMonth.png"/>
		<img id="enter" selectStart=1 selectEnd=1 alt="В корзину" text="" src="../enter.png"/>
	</div>
</template>
